@using System.Security.Policy
@{ ViewBag.Title = "Index"; }
<script src="~/Scripts/jquery-3.7.1.min.js"></script>
<script src="~/Scripts/toastr.js"></script>
<div class="card">
    <h5 class="card-header bg-dark text-white">
        <i class="fab fa-product-hunt"></i>
        Listado de Proveedores

    </h5>
    <div class="card-body">
        <button type="button" class="btn btn-primary" onclick="abrirModal()"><i class="fas fa-plus"></i> Nuevo</button>
        <hr />
        <table id="tabla" class="table display cell-border" style="width: 100%">
            <thead>
                <tr>
                    <th>CUIT</th>
                    <th>Razon Social</th>
                    <th>Persona Contacto</th>
                    <th>Direccion</th>
                    <th>Localidad</th>
                    <th>Provincia</th>
                    <th>Tel. Fijo</th>
                    <th>Tel. Movil</th>
                    <th>Correo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Datos del Proveedor</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input type="hidden" id="txtProveedorId" value="0" />

                    <div class="row mt-3">
                        <div class="col-12">
                            <div id="mensajeError" class="alert alert-danger" role="alert">
                                A simple danger alert—check it out!
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <label for="txtCUIT" class="form-label">CUIT</label>
                        <input type="text" class="form-control" id="txtCUIT" placeholder="Ingrese CUIT">
                    </div>
                    <div class="col-md-6">
                        <label for="txtRazonSocial" class="form-label">Razon Social</label>
                        <input type="text" class="form-control" id="txtRazonSocial" placeholder="Ingrese Razon Social">
                    </div>
                    <div class="col-md-6">
                        <label for="txtPersonaDeContacto" class="form-label">Persona de Contacto</label>
                        <input type="text" class="form-control" id="txtPersonaDeContacto" placeholder="Ingrese Persona de Contacto">
                    </div>
                    <div class="col-md-6">
                        <label for="txtDireccion" class="form-label">Direccion</label>
                        <input type="text" class="form-control" id="txtDireccion" placeholder="Ingrese Direccion">
                    </div>
                    <div class="col-md-6">
                        <label for="txtTelefonoFijo" class="form-label">Telefono Fijo</label>
                        <input type="text" class="form-control" id="txtTelefonoFijo" placeholder="Ingrese Telefono Fijo">
                    </div>
                    <div class="col-md-6">
                        <label for="txtTelefonoMovil" class="form-label">Telefono Movil</label>
                        <input type="text" class="form-control" id="txtTelefonoMovil" placeholder="Ingrese Telefono Movil">
                    </div>
                    <div class="col-md-6">
                        <label for="txtCorreoElectronico" class="form-label">Correo Electronico</label>
                        <input type="text" class="form-control" id="txtCorreoElectronico" placeholder="Ingrese Correo ">
                    </div>

                    <div class="col-md-6">
                        <label for="cboProvincia" class="form-label">Provincia</label>
                        <select id="cboProvincia" class="form-select" aria-label="Default select example">
                        </select>
                    </div>

                    <div class="col-md-6">
                        <label for="cboLocalidad" class="form-label">Localidad</label>
                        <select id="cboLocalidad" class="form-select" aria-label="Default select example">
                        </select>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        var tablaProveedores;
        var localidadDelProveedor = 0;

        $(document).ready(function() {
            cargarCboProvincias();
            cargarTabla();
        });

        $('#cboProvincia').change(function() {
            var provinciaId = $('#cboProvincia').val();
            if (provinciaId > 0) {
                cargarCboLocalidades();
            }
        });

        function cargarTabla() {
            tablaProveedores = $("#tabla").DataTable({
                responsive: "true",
                ordering: "false",
                "ajax": {
                    url: "@Url.Action("ListarProveedores", "Proveedor")",
                    type: "GET",
                    dataType: "json"
                },
                "columns": [
                    { "data": "CUIT" },
                    { "data": "RazonSocial" },
                    { "data": "PersonaDeContacto" },
                    { "data": "Direccion" },
                    {
                        "data": "Localidad",
                        render: function(data) {
                            return data.NombreLocalidad
                        }

                    },
                    {
                        "data": "Provincia",
                        render: function(data) {
                            return data.NombreProvincia
                        }

                    },
                    { "data": "TelefonoFijo" },
                    { "data": "TelefonoMovil" },
                    { "data": "CorreoElectronico" },
                    {
                        "data": "ProveedorId",
                        "render": function(data) {
                            return "<button class='btn btn-warning btn-sm btn-editar' type='button' onclick='abrirModal(" +
                                data +
                                ")'><i class='fas fa-pen'></i></button> " +
                                "<button class='btn btn-danger btn-sm' type='button' onclick='Eliminar(" +
                                data +
                                ")'><i class='fas fa-trash'></i></button> ";
                        }
                    }
                ]
            });
        }

        function cargarCboProvincias() {
            $('#cboProvincia').empty();
            $('#cboLocalidad').empty();
            $.ajax({
                "url": "@Url.Action("ListarProvincias", "Proveedor")",
                "type": "GET",
                "dataType": "json",
                "contentType": "application/json; charset=utf-8",
                success: function(provincias) {
                    console.log(provincias);
                    $('#cboProvincia').append('<option selected disabled value = "" > ' + 'Seleccionar' + '</option>');
                    $.each(provincias.data,
                        function(index, provincia) {
                            $("#cboProvincia").append('<option value="' +
                                provincia.ProvinciaId +
                                '">' +
                                provincia.NombreProvincia +
                                '</option>');
                        });

                }
            });

        }

        function cargarCboLocalidades() {
            var provinciaId = $('#cboProvincia').val()
            $('#cboLocalidad').empty();
            $.ajax({
                "url": "@Url.Action("ListarLocalidades", "Proveedor")" + "?provinciaId=" + provinciaId,
                "type": "POST",
                "dataType": "json",
                "contentType": "application/json; charset=utf-8",
                success: function(localidades) {
                    console.log(localidades);
                    $('#cboLocalidad').append('<option selected disabled value = "" > ' + 'Seleccionar' + '</option>');
                    $.each(localidades.data,
                        function(index, localidad) {
                            $("#cboLocalidad").append('<option value="' +
                                localidad.LocalidadId +
                                '">' +
                                localidad.NombreLocalidad +
                                '</option>');
                        });
                    if (localidadDelProveedor != 0) {
                        $('#cboLocalidad option[value=' + localidadDelProveedor + ']').attr("selected", true);

                    }

                }
            });

        }

        function abrirModal($ProveedorId) {
            $('#mensajeError').hide();
            if ($ProveedorId == 0) {
                $("#txtProveedorId").val(0);
                $("#txtCUIT").val("");
                $("#txtRazonSocial").val("");
                $("#txtPersonaDeContacto").val("");
                $("#txtDireccion").val("");
                $("#txtTelefonoFijo").val("");
                $("#txtTelefonoMovil").val("");
                $("#txtCorreoElectronico").val("");
                $("#cboProvincia option:first").val();
                $("#cboLocalidad option:first").val();;
            } else {
                $.ajax({
                    "url": "@Url.Action("ListarProveedor", "Proveedor")" + "?proveedorId=" + $ProveedorId,
                    "type": "GET",
                    "dataType": "json",
                    "contentType": "application/json, charset=utf-8",
                    success: function(proveedor) {
                        localidadDelProveedor = proveedor.LocalidadId;
                        $("#txtProveedorId").val(proveedor.ProveedorId);
                        $("#txtCUIT").val(proveedor.CUIT);
                        $("#txtRazonSocial").val(proveedor.RazonSocial);
                        $("#txtPersonaDeContacto").val(proveedor.PersonaDeContacto);
                        $("#txtDireccion").val(proveedor.Direccion);
                        $("#txtTelefonoFijo").val(proveedor.TelefonoFijo);
                        $("#txtTelefonoMovil").val(proveedor.TelefonoMovil);
                        $("#txtCorreoElectronico").val(proveedor.CorreoElectronico);

                        $("#cboProvincia").val(proveedor.ProvinciaId);
                        cargarCboLocalidades();
                        $("#cboLocalidad").val(proveedor.LocalidadId);

                    },
                    error: function(err) {
                        console.log(err);
                    }
                });
            }
            $("#FormModal").modal("show");
        }

        function Guardar() {

            var proveedor = {
                ProveedorId: $("#txtProveedorId").val(),
                CUIT: $("#txtCUIT").val(),
                RazonSocial: $("#txtRazonSocial").val(),
                PersonaDeContacto: $("#txtPersonaDeContacto").val(),
                Direccion: $("#txtDireccion").val(),
                TelefonoFijo: $("#txtTelefonoFijo").val(),
                TelefonoMovil: $("#txtTelefonoMovil").val(),
                CorreoElectronico: $("#txtCorreoElectronico").val(),
                ProvinciaId: $("#cboProvincia option:selected").val(),
                LocalidadId: $("#cboLocalidad option:selected").val()

            }
            console.log(proveedor);
            var request = new FormData();
            request.append("objeto", JSON.stringify(proveedor));
            $.ajax({
                "url": "@Url.Action("GuardarProveedor", "Proveedor")",
                "type": "POST",
                "dataType": "json",
                data: request,
                processData: false,
                contentType: false,

                success: function(response) {
                    $(".modal-body").LoadingOverlay("hide");
                    if (response.respuesta) {
                        toastr.success(response.mensaje);
                        $('#FormModal').modal('hide');
                        tablaProveedores.ajax.reload();
                    } else {
                        $("#mensajeError").text(response.mensaje);
                        $("#mensajeError").show();
                    }
                },
                error: function() {
                    console.log('error');
                },
                beforeSend: function() {
                    $(".modal-body").LoadingOverlay("show",
                        {
                            imageResizeFactory: 2,
                            text: "Guardando...",
                            size: 14
                        });

                }

            });
        };


        function Eliminar($ProveedorId) {
            if (confirm("Desea eliminar el registro seleccionado?")) {
                $.ajax({
                    "url": "@Url.Action("EliminarProveedor", "Proveedor")" + "?proveedorId=" + $ProveedorId,
                    "type": "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function(response) {
                        if (response.resultado) {
                            toastr.success(response.mensaje);
                            tablaProveedores.ajax.reload();
                        } else {
                            toastr.error(response.mensaje);
                        }
                    },
                    error: function(response) {
                        toastr.error(response.mensaje);
                    }
                });

            };
        }

    </script>
}

