@model List<VideoClub.Entidades.Entidades.Pelicula>
@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<ol class="breadcrumb mt-4 mb-4 ">
    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
    <li class="breadcrumb-item active">Peliculas</li>
</ol>
<div class="card">
    <h5 class="card-header bg-dark text-white">
        <i class="fas fa-film"></i>
        Listado de Peliculas

    </h5>
    <div class="card-body">
        <button type="button" class="btn btn-primary" onclick="abrirModal()"><i class="fas fa-plus"></i> Nuevo</button>
        <hr />
        <table id="tabla" class="table display cell-border" style="width: 100%">
            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Genero</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                    <th>Duracion(min)</th>
                    <th>Calificacion</th>
                    <th>Soporte</th>
                    <th>Alquilado</th>
                    <th>Activo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Peliculas</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="txtPeliculaId" value="0" />
                <div class="row">
                    <div class="col-md-12">
                        <label for="txtTitulo" class="form-label">Titulo</label>
                        <input type="text" class="form-control" id="txtTitulo" placeholder="Titulo de la pelicula">
                    </div>
                    <div class="col-md-6">
                        <label for="cboGenero" class="form-label">Genero</label>

                        <select id="cboGenero" class="form-select" aria-label="Default select example">
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="cboEstado" class="form-label">Estado</label>

                        <select id="cboEstado" class="form-select" aria-label="Default select example">
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="txtDuracion" class="form-label">Duracion(min)</label>
                        <input type="text" class="form-control" id="txtDuracion" placeholder="Duracion en minutos">
                    </div>
                    <div class="col-md-6">
                        <label for="cboCalificacion" class="form-label">Calificacion</label>

                        <select id="cboCalificacion" class="form-select" aria-label="Default select example">
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="cboSoporte" class="form-label">Soporte</label>

                        <select id="cboSoporte" class="form-select" aria-label="Default select example">
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="cboAlquilado" class="form-label">Alquilado</label>

                        <select id="cboAlquilado" class="form-select" aria-label="Default select example">
                            <option value="0">NO</option>
                            <option value="1">SI</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="cboActiva" class="form-label">Activa</label>

                        <select id="cboActiva" class="form-select" aria-label="Default select example">
                            <option value="1">SI</option>
                            <option value="0">NO</option>
                        </select>
                    </div>

                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <div id="mensajeError" class="alert alert-danger" role="alert">
                            A simple danger alert—check it out!
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        var tablaPeliculas;
        var filaSeleccionada;

        $(document).ready(function() {
            cargarTabla();
            cargarCboEstados();
            cargarCboGeneros();
            cargarCboSoportes();
            cargarCboCalificaciones();


            $("#tabla tbody").on("click",
                '.btn-editar',
                function() {
                    filaSeleccionada = $(this).closest("tr");
                    var datos = tablaPeliculas.row(filaSeleccionada).data();
                    abrirModal(datos);

                });

             $("#tabla tbody").on("click",
                ".btn-borrar",
                function() {
                    var peliculaSeleccionada = $(this).closest("tr");
                    var datosPelicula = tablaPeliculas.row(peliculaSeleccionada).data();

                    console.log(datosPelicula);
                    debugger;
                    swal({
                            title: "¿Está seguro?",
                            text: "¿Desea eliminar la pelicula seleccionada?",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonClass: "btn-danger",
                            confirmButtonText: "SI",
                            cancelButtonText:"NO",
                            closeOnConfirm: false
                        },
                        function () {

                            jQuery.ajax({
                                url: "@Url.Action("EliminarPelicula","Pelicula")",
                                type: "POST",
                                data: JSON.stringify({ id: datosPelicula.PeliculaId}),
                                dataType: "json",
                                contentType: "application/json; charset=utf-8",
                                success: function (data) {

                                    if (data.resultado) {
                                        tablaPeliculas.row(peliculaSeleccionada).remove().draw();
                                        swal("Registro eliminado con exito!");
                                    } else {
                                        swal("No se pudo eliminar el registro!", data.mensaje, "error");
                                    }


                                },
                                error:function(error) {
                                    console.log(error);
                                },
                                beforeSend:function() {

                                }
                            });


                        });
                });


        });


        function cargarTabla() {
            tablaPeliculas = $("#tabla").DataTable({
                responsive: "true",
                ordering: "false",
                "ajax": {
                    url: "@Url.Action("ListarPeliculas", "Pelicula")",
                    type: "GET",
                    dataType: "json"
                },
                "columns": [
                    { "data": "Titulo" },
                    {
                        "data": "Genero",
                        render: function(data) {
                            return data.Descripcion;
                        }
                    },
                    //{
                    //    "data": "FechaIncorporacion"
                    //},
                    {
                        "data": "Estado",
                        render: function(data) {
                            return data.Descripcion;
                        }
                    },
                    { "data": "DuracionEnMinutos" },
                    {
                        "data": "Calificacion",
                        render: function(data) {
                            return data.Descripcion;
                        }
                    },
                    {
                        "data": "Soporte",
                        render: function(data) {
                            return data.Descripcion;
                        }
                    },
                    {
                        "data": "Alquilado",
                        render: function(valorDeAlquilado) {
                            if (valorDeAlquilado) {
                                return '<span class="badge text-bg-success">SI</span>';
                            } else {
                                return '<span class="badge text-bg-danger">NO</span>';
                            }
                        }
                    },
                    {
                        "data": "Activa",
                        render: function(valorDeActiva) {
                            if (valorDeActiva) {
                                return '<span class="badge text-bg-success">SI</span>';
                            } else {
                                return '<span class="badge text-bg-danger">NO</span>';

                            }
                        }
                    },
                    {
                        "defaultContent":
                            '<button type="button" class="btn btn-warning mx-3 btn-sm btn-editar"><i class="fas fa-pen"></i></button>' +
                                '<button type="button" class="btn btn-danger btn-sm btn-borrar"><i class="fas fa-trash"></i></button>',
                        "orderable": false,
                        "searchable": false,
                        "width": "90px"

                    }
                ]

            });
        }

        function cargarCboGeneros() {
            jQuery.ajax({
                url: "@Url.Action("ListarGeneros", "Genero")",
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function(generos) {
                    console.log(generos);
                    debugger;
                    $("#cboGenero").append('<option disabled value="0">' + "Seleccionar" + '</option>');
                    $.each(generos.data,
                        function(index, genero) {
                            $("#cboGenero").append('<option value="' +
                                genero.GeneroId +
                                '">' +
                                genero.Descripcion +
                                '</option>');
                        });

                }
            });
        }

        function cargarCboEstados() {
            jQuery.ajax({
                url: "@Url.Action("ListarEstados", "Estado")",
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function(estados) {
                    //console.log(estados);
                    //debugger;
                    $("#cboEstado").append('<option disabled value="0">' + "Seleccionar" + '</option>');
                    $.each(estados.data,
                        function(index, estado) {
                            $("#cboEstado").append('<option value="' +
                                estado.EstadoId +
                                '">' +
                                estado.Descripcion +
                                '</option>');
                        });

                }
            });
        }

        function cargarCboSoportes() {
            jQuery.ajax({
                url: "@Url.Action("ListarSoportes", "Soporte")",
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function(soportes) {
                    console.log(soportes);
                    debugger;
                    $("#cboSoporte").append('<option disabled value="0">' + "Seleccionar" + '</option>');
                    $.each(soportes.data,
                        function(index, soporte) {
                            $("#cboSoporte").append('<option value="' +
                                soporte.SoporteId +
                                '">' +
                                soporte.Descripcion +
                                '</option>');
                        });

                }
            });


        }

        function cargarCboCalificaciones() {
            jQuery.ajax({
                url: "@Url.Action("ListarCalificaciones", "Calificacion")",
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function(calificaciones) {
                    console.log(calificaciones);
                    debugger;
                    $("#cboCalificacion").append('<option disabled value="0">' + "Seleccionar" + '</option>');
                    $.each(calificaciones.data,
                        function(index, calificacion) {
                            $("#cboCalificacion").append('<option value="' +
                                calificacion.CalificacionId +
                                '">' +
                                calificacion.Descripcion +
                                '</option>');
                        });

                }
            });
        }

        function abrirModal(jsonPelicula) {

            $("#mensajeError").hide();
            $("#txtPeliculaId").val(0);
            $("#txtTitulo").val("");
            $("#cboGenero").val($("#cboGenero option:first").val());
            $("#cboEstado").val($("#cboEstado option:first").val());
            $("#txtDuracion").val("");
            $("#cboCalificacion").val($("#cboCalificacion option:first").val());
            $("#cboSoporte").val($("#cboSoporte option:first").val());
            $("#cboAlquilado").val(0);
            $("#cboActiva").val(1);
            if (jsonPelicula != null) {

                $("#txtPeliculaId").val(jsonPelicula.PeliculaId);
                $("#txtTitulo").val(jsonPelicula.Titulo);
                $("#cboGenero").val(jsonPelicula.GeneroId);
                $("#txtDuracion").val(jsonPelicula.DuracionEnMinutos);
                $("#cboEstado").val(jsonPelicula.EstadoId);
                $("#cboCalificacion").val(jsonPelicula.CalificacionId);
                $("#cboSoporte").val(jsonPelicula.SoporteId);
                $("#cboAlquilado").val(jsonPelicula.Alquilado == true ? 1 : 0);
                $("#cboActiva").val(jsonPelicula.Activa == true ? 1 : 0);


            }
            $("#FormModal").modal("show");

        }


        function Guardar() {
            var pelicula = {
                PeliculaId: $("#txtPeliculaId").val(),
                Titulo: $("#txtTitulo").val(),
                GeneroId: $("#cboGenero option:selected").val(),
                Genero: {
                    GeneroId: $("#cboGenero option:selected").val(),
                    Descripcion: $("#cboGenero option:selected").text()
                },
                EstadoId: $("#cboEstado option:selected").val(),
                Estado: {
                    Estado: $("#cboEstado option:selected").val(),
                    Descripcion: $("#cboEstado option:selected").text()
                },
                DuracionEnMinutos: $("#txtDuracion").val(),
                CalificacionId: $("#cboCalificacion option:selected").val(),
                Calificacion: {
                    CalificacionId: $("#cboCalificacion option:selected").val(),
                    Descripcion: $("#cboCalificacion option:selected").text()
                },
                SoporteId: $("#cboSoporte option:selected").val(),
                Soporte: {
                    SoporteId: $("#cboSoporte option:selected").val(),
                    Descripcion: $("#cboSoporte option:selected").text()
                },
                Alquilado: $("#cboAlquilado").val() == 1 ? true : false,
                Activa: $("#cboActiva").val() == 1 ? true : false
            };
            //console.log(pelicula);
            //debugger;
            var request = new FormData();
            request.append("objeto", JSON.stringify(pelicula));

            jQuery.ajax({
                url: "@Url.Action("GuardarPelicula", "Pelicula")",
                type: "POST",
                data: request,
                processData: false,
                contentType: false,
                success: function(data) {
                    $(".modal-body").LoadingOverlay("hide");

                    if (pelicula.PeliculaId == 0) {
                        debugger;
                        if (data.resultado != 0) {
                            pelicula.PeliculaId = data.resultado;
                            tablaPeliculas.row.add(pelicula).draw(false);
                            tablaPeliculas.ajax.reload();
                            $("#FormModal").modal("hide");
                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();

                        }

                    } else {
                        if (data.resultado != 0) {
                            tablaPeliculas.row(filaSeleccionada).data(pelicula).draw(false);
                            filaSeleccionada = null;
                             tablaPeliculas.ajax.reload();

                            $("#FormModal").modal('hide');

                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }


                    }


                },
                error: function (error) {

                },
                beforeSend: function () {
                    $(".modal-body").LoadingOverlay("show",
                        {
                            imageResizeFactory: 2,
                            text: "Guardando...",
                            size: 14

                        });
                    $("#FormModal").modal('hide');
                    tablaPeliculas.ajax.reload();


                }



            });
        }


    </script>
}


